# --- Simulation environment configuration ---
project_id             = "YOUR_PROJECT_ID"
region                 = "us-central1"
alert_email            = "your-email@example.com"
cloudsql_db_password    = "CHANGE_ME"
